In [9]:
import pandas as pd

In [10]:
prediction_df = pd.DataFrame()

In [11]:
prediction_df

Empty DataFrame
Columns: []
Index: []

In [12]:
# Assuming prediction is your prediction data
prediction = [[1, 2, 3]]  # Example prediction data
output_columns = ['Column1', 'Column2', 'Column3']  # Example output columns

# Create prediction DataFrame
dataframe = pd.DataFrame(prediction, columns=output_columns)

In [13]:
dataframe

   Column1  Column2  Column3
0        1        2        3

In [14]:
prediction_df = pd.concat([prediction_df, dataframe], ignore_index=True)

In [15]:
prediction_df

   Column1  Column2  Column3
0        1        2        3

In [16]:
# Assuming prediction is your prediction data
prediction = [[1, 2, 3]]  # Example prediction data
output_columns = ['Column1', 'Column2', 'Column3']  # Example output columns

# Create prediction DataFrame
dataframe1 = pd.DataFrame(prediction, columns=output_columns)

In [18]:
prediction_df = pd.concat([prediction_df, dataframe1], ignore_index=True)

In [19]:
prediction_df

   Column1  Column2  Column3
0        1        2        3
1        1        2        3

In [20]:
# Assuming prediction is your prediction data
prediction = [[4, 5, 5]]  # Example prediction data
output_columns = ['Column4', 'Column6', 'Column5']  # Example output columns

# Create prediction DataFrame
dataframe2 = pd.DataFrame(prediction, columns=output_columns)

In [21]:
prediction_df = pd.concat([prediction_df, dataframe2], ignore_index=True)
prediction_df

   Column1  Column2  Column3  Column4  Column6  Column5
0      1.0      2.0      3.0      NaN      NaN      NaN
1      1.0      2.0      3.0      NaN      NaN      NaN
2      NaN      NaN      NaN      4.0      5.0      5.0